extends layout

block content
    h1= title
    #spoiler_block
        #spoiler_intro
            p Did you know...
        #spoiler_title
            center #{spoilerTitle}
        center #{spoiler}
